body {
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  background-color: #f2f2f2;
  padding: 200px;
}
h1,h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.container {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}
.popup {
    /* display: none; */
    /* position: fixed; */
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
  .popup-content {
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .end-test-button {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  #permission-btn{
    
    background-color: default;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    
  }